In [526]:
#Import all necessary libaries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [527]:
#Importing the CSV FILE
df_tele= pd.read_csv('Cleaned_DataFrame1.csv')

In [528]:
print ("\nMissing values :  ", df_tele.isnull().sum().values.sum())

Missing values :   11

In [529]:
#Drop customer ID as it wont affect the churning rate at all
#df_tele.drop(['tenure'], axis=1, inplace=True)

In [530]:
df_tele['TotalCharges'] = df_tele["TotalCharges"].replace(" ",np.nan)

In [531]:
df_tele = df_tele[df_tele["TotalCharges"].notnull()]
df_tele = df_tele.reset_index()[df_tele.columns]

In [532]:
df_tele[['TotalCharges', 'MonthlyCharges']] = StandardScaler().fit_transform(df_tele[['TotalCharges', 'MonthlyCharges']])

In [533]:
#df_tele.info()#

In [534]:
pd.set_option('display.max_columns', None)
df_tele.head()

,Churn,TotalCharges,MonthlyCharges,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,Has_InternetService,DSL,Fiber_optic,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Tenure_Group_0-12 Mts.,Tenure_Group_12-24 Mts.,Tenure_Group_24-48 Mts.,Tenure_Group_48-60 Mts.,Tenure_Group_grt_60 Mts.,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Contract_Month-to-month,Contract_One year,Contract_Two year
0,0,-0.994194,-1.161694,0,0,1,0,1,0,1,1,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,0
1,0,-0.173740,-0.260878,1,0,0,0,34,1,1,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
2,1,-0.959649,-0.363923,1,0,0,0,2,1,1,1,0,0,1,1,0,0,0,0,1,1,0,0,0,0,0,0,0,1,1,0,0
3,0,-0.195248,-0.747850,1,0,0,0,45,0,1,1,0,0,1,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0
4,1,-0.940457,0.196178,0,0,0,0,2,1,1,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,1,0,0

In [535]:
print ("\nMissing values :  ", df_tele.isnull().sum().values.sum())

Missing values :   0

In [536]:
x_train = df_tele.iloc[:,1:]
y_train = df_tele.iloc[:,0:1]

In [537]:
#Drop customer ID as it wont affect the churning rate at all
##x_train.drop(['PhoneService'], axis=1, inplace=True)
#x_train.drop(['gender'], axis=1, inplace=True)
x_train.drop(['MultipleLines'], axis=1, inplace=True)
x_train.drop(['Tenure_Group_12-24 Mts.'], axis=1, inplace=True)
x_train.drop(['DeviceProtection'], axis=1, inplace=True)

In [538]:
x_train.head()

,TotalCharges,MonthlyCharges,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,Has_InternetService,DSL,Fiber_optic,OnlineSecurity,OnlineBackup,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Tenure_Group_0-12 Mts.,Tenure_Group_24-48 Mts.,Tenure_Group_48-60 Mts.,Tenure_Group_grt_60 Mts.,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Contract_Month-to-month,Contract_One year,Contract_Two year
0,-0.994194,-1.161694,0,0,1,0,1,0,1,1,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0
1,-0.173740,-0.260878,1,0,0,0,34,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
2,-0.959649,-0.363923,1,0,0,0,2,1,1,1,0,1,1,0,0,0,1,1,0,0,0,0,0,0,1,1,0,0
3,-0.195248,-0.747850,1,0,0,0,45,0,1,1,0,1,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0
4,-0.940457,0.196178,0,0,0,0,2,1,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0

In [539]:
x_trn, x_test, y_trn, y_test = train_test_split(x_train, y_train, test_size=0.20, random_state=0)

In [540]:
#best_features = SelectKBest(score_func=chi2, k = 29)
#fit_1 = best_features.fit(x_train,y_train)

In [541]:
##dfscores = pd.DataFrame(fit_1.scores_)
#dfcolumns = pd.DataFrame(x_train##.columns)

In [542]:
##featureScores = pd.concat([dfcolumns,dfscores], axis=1)
#featureScores.columns = ['Specs','Scores']

In [543]:
#featureScores

In [544]:
#df_tele.info()

In [545]:
model = LogisticRegression()
#y= y_trn.ravel()

In [546]:
logistic = model.fit(x_trn,y_trn)

C:\Users\clive\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\clive\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [547]:
logistic.score(x_test,y_test)

0.8024164889836531